@media screen and (max-width: 900px) {
  .summaryChart {
    padding: 0 !important;
    margin-bottom: 50px !important; } }

.monthButton {
  background-color: transparent !important;
  color: black !important;
  border-top: white solid 1px !important;
  border-bottom: white solid 1px !important;
  box-shadow: royalblue 0 0 0 0.15rem; }
  .monthButton:hover {
    text-decoration: underline !important; }
  .monthButton:focus {
    box-shadow: royalblue 0 0 0 0.15rem !important; }

.notCentral {
  border-top: #000000 solid 1px !important;
  border-bottom: #000000 solid 1px !important;
  box-shadow: none !important; }
  .notCentral:focus {
    box-shadow: none !important; }

.deleteName {
  font-size: 2rem;
  font-weight: 800;
  background-color: #c56d6d;
  padding: 20px; }

.subButton {
  margin: 20px 10px 0 0; }

.confRow {
  margin: 0px 0;
  padding: 20px 0;
  border-bottom: 2px dashed black; }

.plusSign {
  padding-right: 0 !important; }
  .plusSign a {
    color: #075f07; }

.recordForm {
  padding: 10px;
  margin: 15px; }

.secondNav {
  background-color: #f18101 !important;
  margin-bottom: 15px; }
  .secondNav .navbar-nav {
    padding: 0  2rem  0 0; }
  .secondNav a {
    font-size: 1.3rem;
    padding: 0  2rem  0 0;
    color: black !important; }
  .secondNav ul > * {
    padding-right: 4rem; }

.containerImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.err {
  font-weight: 800;
  border: solid red 2px; }

.myNav {
  background-color: #f0bf76 !important;
  margin-bottom: 0px;
  padding-right: 15px; }
  .myNav .navbar-nav {
    padding-right: 25px !important; }
  .myNav .navbar-brand a {
    color: black !important; }

.myFooter {
  margin-top: 15px;
  background-color: #f0bf76 !important;
  font-weight: 600;
  color: black;
  min-height: 50px; }
  .myFooter .Icons {
    margin-top: 5px; }
  .myFooter a {
    color: black; }
