$mainColor: rgb(240, 191, 118)!important;
$secondColor: rgb(241, 129, 1)!important;

.recordForm{
    padding: 10px;
    margin: 15px;
}
.secondNav{
    background-color: $secondColor;
    margin-bottom: 20px;
    a {
        font-size: 1.5rem;
        padding: 0 2rem;
        margin: 0 2rem;
        font-style: italic;
    }
    a:hover{
        font-size:2rem;
    }
}

.containerImg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.err{
    font-weight: 800;
    border: solid red 2px;
}

.myNav{
    background-color: $mainColor;
    margin-bottom: 0px;
    padding-right: 15px;
    .navbar-nav{
        padding-right: 25px!important;
    }
    .navbar-brand{
        a{
         color:black!important;
        }
    }
}

.myFooter{
    margin-top: 15px;
    background-color: $mainColor;
    font-weight: 600;
    color:black;
    min-height: 50px;
    .Icons{
        margin-top: 5px;

    }
    a {
        color:black;
    }

}