@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');
$main-font: 'Merriweather', serif!important;
$second-font : 'Lora', serif!important;
$mainColor: rgb(240, 191, 118)!important;
$secondColor: rgb(241, 129, 1)!important;
$small: 900px;

body{
    font-family: $main-font;
    
}

.chart-row{
    margin-top: 25px;
}
.dashboard{
    h2{
        font-style: italic;
        margin-top: 15px;
    }
    h4{
        font-size: 1.2rem;
    }
    .dashboard-form{
        padding: 15px;
        // background-color: $secondColor;
        border-radius: 20px;
        .dashboard-form-inside{
            margin: 15px 0;
        }
    }

}

.summaryChart{
    @media screen and (max-width: $small) {
        padding:0!important;
        margin-bottom:50px!important;
      }

}
.monthButton{
    background-color:transparent!important;
    color: black !important;
    border-top: white solid 1px!important;
    border-bottom: white solid 1px!important;
    box-shadow: royalblue 0 0 0 0.15rem;
    &:hover{
        text-decoration: underline!important;
    }
    &:focus{
        box-shadow: royalblue 0 0 0 0.15rem!important;
    }
    
}

.notCentral{
    border-top: #000000 solid 1px!important;
    border-bottom: #000000 solid 1px!important;
    box-shadow: none!important;
    &:focus{
        box-shadow: none!important;
    }
}
.deleteName{
    font-size: 2rem;
    font-weight: 800;
    background-color: rgb(197, 109, 109);
    padding:20px;
}

.subButton{
    margin: 20px 10px 0 0;
}
.confRow{
    margin:0px 0;
    padding: 20px 0;
    border-bottom: 2px dashed black;
}

.plusSign{
    padding-right:0!important;
    a{
        color:rgb(7, 95, 7);
    }
}

.recordForm{
    padding: 10px;
    margin: 15px;
}


.default-container{
    min-height: calc(100vh - 70px - 140px);
    padding:35px!important;
    margin-top: 35px;
    .login-register-button{
        margin: 20px 0;
        .login-register{
            background-color: $mainColor;
            a{
                color: #346288
                ;
            }
        }
    }
    .home-description{
        text-align: left!important;
    }
    .iframe{
        text-align: center;
        margin:10px;
        border-radius: 20px!important;
    }
    .img-home{
        border-radius: 10px;
    }

}


.err{
    font-weight: 800;
    border: solid red 2px;
}

// Nav & Footer

.myNav{
    background-color: $mainColor;
    margin-bottom: 0px;
    padding-right: 15px;
    .navbar-nav{
        padding-right: 25px!important;
    }
    .navbar-brand{
        a{
         color:black!important;
         font-size: 1.5rem;
        }
    }
}

.secondNav{
    font-family:$second-font;
    background-color: $secondColor;
    margin-bottom: 15px;
    .navbar-nav{
        padding: 0  2rem  0 0;

    }
    a {
        font-size: 1.3rem;
        padding: 0  2rem  0 0;
        // margin: 0 2rem;
        color:black!important;
           
    }
    ul>*{
        padding-right: 4rem;
    }
}

.myFooter{
    margin-top: 15px;
    background-color: $mainColor;
    font-weight: 600;
    color:black;
    min-height: 50px;
    .Icons{
        margin-top: 5px;

    }
    a {
        color:black;
    }

}